<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="40bcae15-af6e-4b5a-9cbf-69fa26164d32" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://dummy.restapiexample.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="40bcae15-af6e-4b5a-9cbf-69fa26164d32fileName">http%3A%2F%2Fdummy.restapiexample.com</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://dummy.restapiexample.com</con:endpoint>
  </con:endpoints>
</con:interface>
