<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="be5849fd-b6aa-4864-9aec-427930abfda3" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="be5849fd-b6aa-4864-9aec-427930abfda3fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
